<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.file.mapper.StaticFileInputMapper">

	<insert id="insertFileDB">
		insert into
			ATTACHEMENT (
			file_original_name
			, file_chage_name
			, file_size
			, file_type
			, file_dt
			)
		values
		    (
				#{fileOriginalName}
				, #{fileChangeName}
				, #{fileSize}
				, #{fileType}
				, now()
			)



	</insert>
	
</mapper>