<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.care.root.mybatis.file.StaticFileInputMapper">

	<resultMap id="fileMap" type="com.care.root.file.vo.FileVO">
		<id property="fileNo" column="file_no"/>
		<result property="fileOriginalName" column="file_original_name"/>
		<result property="fileChangeName" column="file_chage_name"/>
		<result property="fileSize" column="file_size"/>
		<result property="fileType" column="file_type"/>
		<result property="fileDt" column="file_dt"/>
	</resultMap>


	<insert id="insertFileDB" parameterType="com.care.root.file.vo.FileVO">
		<selectKey keyProperty="recipeNo" resultType="int" order="AFTER">
			select recipe_no + 1 from RECIPE r order by recipe_no desc limit 1
		</selectKey>

		insert into
			ATTACHEMENT (
			file_original_name
			, file_chage_name
			, file_size
			, file_type
			, file_dt
			<if test=" fileRegType eq 'NEW' ">
				, file_mapping_seq
			</if>
			<if test=" fileRegType eq 'NEWSTEP' ">
				, file_mapping_seq
			</if>

			)
		values
		    (
				#{fileOriginalName}
				, #{fileChangeName}
				, #{fileSize}
				, #{fileType}
				, now()
				<if test=" fileRegType eq 'NEW' ">
				, #{recipeNo}
				</if>
				<if test=" fileRegType eq 'NEWSTEP' ">
				, #{recipeNo} - 1
				</if>
			)



	</insert>
	
</mapper>